body {
  margin-bottom: 60px;
  font-family: 'Anton', sans-serif;
}
hr {
  margin-top: 0em;
  margin-bottom: 0em;
}

#display-table {
  width: 100%;
  font-size: 20px;
}
#display-table td {
  border-top: 1px solid black;
  padding-left: 0.5em;
  width: 69%; /* Change this based on screen size. Defauting mobile size here */
}
#date-table {
  width: 100%;
  font-size: 20px;
}
#date-table td {
  padding-left: 5px;
}
#listItem {
  width: 100%;
  height: 85%;
  font-size: 20px;
}
#listSubitem {
  width: 100%;
  height: 85%;
  font-size: 20px;
}
/* Snackbars */
#loadDataSnackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 120px; /* Set a default minimum width */
  margin-left: -60px; /* Divide value of min-width by 2 */
  height: 40px;
  background-color: rgb(122, 252, 122);
  color: #000000;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  position: fixed;
  z-index: 3;
  top: 30px;
  left: 50%;
  font-size: 26px;
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#loadDataSnackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#saveSnackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 100px; /* Set a default minimum width */
  margin-left: -50px; /* Divide value of min-width by 2 */
  height: 40px;
  background-color: rgb(122, 252, 122);
  color: #000000;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  position: fixed;
  z-index: 2;
  top: 30px;
  left: 50%;
  font-size: 26px;
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#saveSnackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#deleteSnackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 100px; /* Set a default minimum width */
  margin-left: -50px; /* Divide value of min-width by 2 */
  height: 40px;
  background-color: #F44336;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  position: fixed;
  z-index: 3;
  top: 30px;
  left: 50%;
  font-size: 26px;
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#deleteSnackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.title {
  text-align: center;
  font-size: 3em;
}
.link-table {
  width: 100%;
}
.app-header-table {
  width: 100%;
}
/* Fixed headers and content */
.header {
  position: fixed;
  top: 0em;
  left: 0em;
  z-index: 1;
}
.content {
  position: relative;
  top: 7.35em;
  left: 0em;
  overflow: auto;
  padding-bottom: 4em;
}
.footer {
  position: fixed;
  bottom: 0em;
  left: 0em;
}
/* Bootstrap Badge */
.badge {
  font-size: 40% !important;
}
/* Bootstrap Card */
.card {
  width: 85%;
}
.card-image {
  width: 3em;
  height: 3em;
}
.card-header {
  font-size: 1.25em;
}
.card-body {
  font-size: 1.2em;
}
/* Input */
.input-table {
  height: 4em;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  border-top: 1px solid rgba(0,0,0,.1);
}
.input-label-cell {
  width: 15%;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.input-box-cell {
  width: 70%;
}
.input-add-cell {
  width: 15%;
  text-align: center;
}
/* List */
.list-label {
  text-align: center;
}
.list-saved-date-label {
  text-align: left;
}
.list-saved-date {
  text-align: right;
}
/* Buttons */
.menu-button {
  text-align: left;
  width: 10%;
}
.save-button {
  text-align: right;
  width: 10%;
}
/* Icons */
.trash-icon {
  float: right;
}
.subitem-icon {
  float: right;
}
/* Sidenav */
.sidenav {
  height: 100%;
  width: 0%; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  opacity: 1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.sidenav .settingsBtn {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
.sidenav h1 {
  padding-top: 0.25em;
}
/* Subitem Sidenav */
.subitemSidenav {
  height: 100%;
  width: 0%; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  opacity: 1;
}
.subitemSidenav h1 {
  padding-top: 0.25em;
}
.subitemSidenav .closebtn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.subitem-input-table {
  height: 4em;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.subitem-input-label-cell {
  width: 15%;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.subitem-input-box-cell {
  width: 70%;
}
.subitem-input-add-cell {
  width: 15%;
  text-align: center;
}
/* Settings Sidenav */
.settingsSidenav {
  height: 100%;
  width: 0%; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  opacity: 1;
}
.settingsSidenav .closebtn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.settingsSidenav h1 {
  padding-top: 0.25em;
}

/* Screen Size Settings */
/* Tiny devices (Galaxy Fold, 280px or less) */
@media screen and (max-width: 280px) {
  #date-table h3 {
    font-size: 1em;
  }
  #display-table td {
    width: 58%;
  }
  .title {
    font-size: 2em;
  }
  .content {
    top: 7em;
  }
}

/* Tiny devices (iPhone 5/SE, 281px-320px) */
@media screen and (min-width: 281px) and (max-width: 320px) {
  #date-table h3 {
    font-size: 1em;
  }
  #display-table td {
    width: 64%;
  }
  .content {
    top: 6.75em;
  }
}

/* Tiny devices (Moto G4, Galaxy S5, 321px-360px) */
@media screen and (min-width: 321px) and (max-width: 360px) {
  #display-table td {
    width: 68%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (orientation: landscape) and (min-width: 576px) {
  #display-table td {
    width: 80%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  #display-table td {
    width: 85%;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .card {
    width: 50% !important;
  }
}