body {
  background-color: lightgrey;
  margin-bottom: 60px;
  font-family: 'Anton', sans-serif; 
}
a {
  color: #607D8B;
}

.title {
  text-align: center;
  font-size: 3em;
}
.link-table {
  width: 100%;
}
.card-image {
  width: 5em;
  height: 5em;
}