body {
  font-family: 'Anton', sans-serif; 
}

.title {
  text-align: center;
  font-size: 3em;
}
.link-table {
  width: 100%;
}
.info-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
/* Sidenav */
.sidenav {
  height: 100%;
  width: 0%; /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0em;
  left: 0em;
  overflow-x: hidden;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  opacity: 1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.sidenav h1 {
  padding-top: 0.25em;
}
.sidenav hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-top-color: #FFFFFF;
}
.sidenav ul {
  margin-bottom: 0em;
  padding-left: 1em;
}
.sidenav .btn-lg {
  font-size: 1em;
}
/* Bootstrap Card */
.card {
  width: 85%;
}
.card-image {
  width: 3em;
  height: 3em;
}
.card-header {
  font-size: 1.25em;
}
.card-body {
  font-size: 1.2em;
}

/* Screen Size Settings */
/* Tiny devices (Galaxy Fold, 280px or less) */
@media screen and (max-width: 280px) {
  .sidenav .title {
    font-size: 2em;
  }
  .sidenav h1 {
    padding-top: 0.5em;
  }
}

/* Tiny devices (iphone 5/SE, 281px-320px) */
@media screen and (min-width: 281px) and (max-width: 320px) {
  .sidenav .title {
    font-size: 2em;
  }
  .sidenav h1 {
    padding-top: 0.5em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card {
    width: 50% !important;
  }
}